# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    # List each .hocon network you wish to expose. Value enables (true) or disables (false) it.
    # Basic examples
    "hello_world.hocon": true,
    "music_nerd.hocon": true,
    "music_nerd_local.hocon": true,
    "music_nerd_pro.hocon": true,
    "music_nerd_pro_local.hocon": true,
    "music_nerd_pro_sly.hocon": true,
    "music_nerd_pro_sly_local.hocon": true,
    "advanced_calculator.hocon": true,
    "smart_home.hocon": true,

    # Integrations & tools
    "cloud_infrastructure_provider.hocon": true,
    "agent_network_html_creator.hocon": true,
    "agentforce.hocon": true,
    "agentspace_adapter.hocon": false,
    "pdf_rag.hocon": true,
    "agentic_rag.hocon": false,
    "kwik_agents.hocon": false,
    "gmail.hocon": false,
    "brave_search.hocon": false,
    "google_search.hocon": false,
    "openai_web_search.hocon": true,
    "openai_code_interpreter.hocon": true,
    "anthropic_web_search.hocon": true,
    "anthropic_code_execution.hocon": true,
    "confluence_rag.hocon": false,
    "mcp_bmi_streamable_http.hocon": false,
    "a2a_research_report.hocon": false,

    # Use cases
    "airline_policy.hocon": true,
    "banking_ops.hocon": true,
    "cpg_agents.hocon": true,
    "insurance_agents.hocon": false,  # deprecated
    "insurance_underwriting_agents.hocon": true,
    "intranet_agents.hocon": false,   # deprecated
    "intranet_agents_with_tools.hocon": true,
    "real_estate.hocon": false,
    "retail_ops_and_customer_service.hocon": true,
    "telco_network_support.hocon": true,
    "therapy_vignette_supervisors.hocon": true,
    "consumer_decision_assistant.hocon": true,

    # Sub-networks used by composite networks
    "airbnb.hocon": true,
    "booking.hocon": true,
    "carmax.hocon": true,
    "expedia.hocon": true,
    "macys.hocon": true,
    "website_search.hocon": true,
    "LinkedInJobSeekerSupportNetwork.hocon": true,

    # Experimental / research
    "agent_network_designer.hocon": true,
    "six_thinking_hats.hocon": true,
    "cruse_agent.hocon": true,
    "conscious_agent.hocon": false,
    "log_analysis_agents.hocon": false,

    # Demo / generated network examples
    "agent_network_architect.hocon": false,
    "news_sentiment_analysis.hocon": false
}
